
.contentArea{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 100%;
}

.contentRow{
    border-style: solid;
    border-color: brown;
}

.contentMenue{
    display: grid;
    grid-template-rows: 40% 60%;
    background-color:#d1fae5;
}
