
.contentArea{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
}

.contentSpace{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    margin-left: 2%;
}

.contentHeader{
    color: #ecfdf5;
    font-weight: bold;
    font-size: 1.25rem;
    align-content: center;
}

.contentRow{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    border-style: solid;
    border-color: brown;
    width: 100%;
}

.announcementArea{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 10% 50%;
    justify-content: center;
}

.announcementPanel{
    background-color: #d1fae5;
    width: 80%;
    height: 80%;
    padding: 5%;
    border-radius: 10%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
}

.announcementPanelText{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
}

.announcementAreaTagline{
    font-size: medium;
    font-weight: bold;
}

.announcementAreaInfo{
    box-shadow: inset;
    font-size: small;
    color: grey;
    border-style: none;
    border-color: darkslategrey;
    border-bottom-width: 0.1em;
    border-bottom-style: inset;
}

.contentMenue{
    display: grid;
    grid-template-rows: 30% 70%;
    background-color:#d1fae5;
}
