.container {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 100vh;
    padding: 0;
    margin: 0;
  }

.sideBar{
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;

    background-color: #34d399;
}

.content{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
    background-color: #065f46;
}
