.sideBarTop{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
}

.sidebarTopImage{
    display: grid;
    place-items: center;
}

.sidebarTopText{
    display: grid;
    align-items: center;
    color: #065f46;
    font-size: 1.75rem;
    text-align: left;
}

.sideBarNavigation{
    display: grid;
    grid-template-rows: 40% 40%;
    grid-template-columns: 100%;
}

.sideBarUpperNavigation{
    display: grid;
    padding-left: 5%;
    grid-template-rows: 12% 12% 12% 12% 12% 12%;
    grid-template-columns: 100%;
}

.sideBarLowerNavigation{
    display: grid;
    padding-left: 5%;
    grid-template-rows: 12% 12% 12%;
    grid-template-columns: 100%;
}

.sideBarNavigationElement{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
}

.sideBarNavigationElementImage{
    display: grid;
    place-items: center;
    height: 70%;
    width: 70%;
    padding: 15%;
}

.sideBarNavigationElementText{
    display: grid;
    align-items: center;
    color: #065f46;
    font-size: 1.5rem;
    text-align: left;
}